node_modules
# add .env inside here if pushing to github, only for pushing into github. HEROKU needs the CONNECTION_URL, does not need it uncommited. we only add it here for Github because we dont want people to know the database passwords
.env